<h3 style="background-color: powderblue; font-size:150%">BRCA dataset Queries:</h3>

<div class="news">
    <p>BRCA database Queries</p>
</div>


<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
<ul>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Proband</th>
        <th>Affected Relatives</th>
        <th>Tumour</th>
        <th>Stage</th>
        <th>Sequencer</th>
        <th>Genomic Nomenclature</th>
        <th>Gene</th>
        <th>Pathogenicity Code</th>
        <th>Evidence Code</th>
        <th>Variant Protein</th>
        <th>Variant cDNA nomenclature</th>
    </tr>
    </thead>
    <tbody>
      {% for patient_identifier in filter.qs %}
        <td>{{patient_identifier.forename}}</td>
        <td>{{patient_identifier.surname}}</td>
        <td>{{patient_identifier.age}}</td>
        {% endfor %}
    <tbody>
    </table>

    
  
  </ul>