<!DOCTYPE html>
<html>
<style>
    h3 {color: blue;}
</style>
<head>
    <center>
        <h1 style="background-color: powderblue; font-size:300%">
            BRCA Variant Database
        </h1>
    </center>
</head>
<body>
    <p>Welcome to the BRCA Variant database </p>
</body>

<h3>Here is the full dataset!</h3>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<table>
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Proband</th>
        <th>Affected Relatives</th>
        <th>Tumour</th>
        <th>Stage</th>
        <th>Sequencer</th>
        <th>Genomic Nomenclature</th>
        <th>Pathogenicity Code</th>
        <th>Evidence Code</th>
        <th>Variant Protein</th>
        <th>Variant cDNA nomenclature</th>
    </tr>
    {% for patient in patients %}
    <tr>
        <td>{{patient.forename}}</td>
        <td>{{patient.surname}}</td>
        <td>{{patient.age}}</td>
        <td>{{patient.proband}}</td>
        <td>{{patient.affected_relatives}}</td>
        <td>{{patient.tumor}}</td>
        <td>{{patient.Stage}}</td>
        <td>{{patient.sequencer}}</td>
        <td>{{patient.age}}</td>
        <td>{{patient.g_nomenclature}}</td>
        <td>{{patient.pathogenecity_code}}</td>
        <td>{{patient.evidence_codes}}</td>
        <td>{{patient.variant_protein}}</td>
        <td>{{patient.c_nomenclature}}</td>
    </tr>
    {% endfor %}
</table>


<body>
    <br />Printed table!!!<br />
</body>

<br />
<br />
<footer> Developed by Elizabeth Arnold, Alistair Jones and Keith Graham for an MSc Project</footer>
<br />

<time>Published 2022</time>
</html>
