<!DOCTYPE html>
<html>
<head>
    <center>
        <h1 style="background-color: powderblue; font-size:300%">
            BRCA Variant Database
        </h1>
    </center>
</head>
<body>
    <h2 style="font-size:150%">Welcome to the BRCA Variant database </h2>
    <p>This tool has been developed using Django.</p>
</body>

<h3 style="background-color: powderblue; font-size:150%">BRCA dataset Queries:</h3>

<div>
    <p>BRCA database Queries</p>
    <form action="http://127.0.0.1:8000/filter">
        <input type="Filter Database Query" value="Going to filter page" />
    </form>
        <li><button onclick="href='filter'">Filter Database Query</button></li>
    
</div>
<div>

<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>
<ul>
    {% for patient_identifier in filter.qs %}
    <li>{{ patient_identifier.surname }} - {{ user.get_full_name }}</li>
    {% endfor %}
</ul>




<h3 style="background-color: powderblue; font-size:150%">BRCA dataset:</h3>


    <menu>
        <li><button>Database Query</button></li>
	<form action="{% url 'search_result' %}" method="get">
        <input name="query" type="text" placeholder="Search here.." >
        <button class="btn btn-outline-success" type="submit" name="button">Submit</button>
        </form>
    </menu>
</div>


<h3 style="background-color: powderblue; font-size:150%">BRCA dataset: entries {{patient_count}}</h3>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<table>
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Proband</th>
        <th>Affected Relatives</th>
        <th>Tumour</th>
        <th>Stage</th>
        <th>Sequencer</th>
        <th>Genomic Nomenclature</th>
        <th>Gene</th>
        <th>Pathogenicity Code</th>
        <th>Evidence Code</th>
        <th>Variant Protein</th>
        <th>Variant cDNA nomenclature</th>
    </tr>
    {% for patient in patients %}
    <tr>
        <td>{{patient.forename}}</td>
        <td>{{patient.surname}}</td>
        <td>{{patient.age}}</td>
        <td>{{patient.proband}}</td>
        <td>{{patient.affected_relatives}}</td>
        <td>{{patient.tumor}}</td>
        <td>{{patient.Stage}}</td>
        <td>{{patient.sequencer}}</td>
        <td>{{patient.age}}</td>
        <td>{{patient.g_nomenclature}}</td>
        <td>{{patient.pathogenecity_code}}</td>
        <td>{{patient.evidence_codes}}</td>
        <td>{{patient.g_nomenclature.variant_protein}}</td>
        <td>{{patient.g_nomenclature.c_nomenclature}}</td>
    </tr>
    {% endfor %}
</table>

<body>
    <p>This is the full dataset.<p>
</body>
<footer> Developed by Elizabeth Arnold, Alistair Jones and Keith Graham for an MSc Project</footer>
<br />

<time>Published 2022</time>

</html>
